.Changepassword /deep/{
    .el-dialog__header{
        padding: 0;
    }
    .el-dialog__body{
        padding: 0;
    }
    
    .Changepassworddialog{
        margin: 0px;
        left: 250px;
    }
}